<div class="bg-slate-300 flex justify-around h-[10vh]">
    <div *ngFor="let el of items" class="hover:bg-[#0000000e] transition-all flex px-8">
        <a href="#{{el.value}}" class="text-2xl my-auto">{{el.name}}</a>
    </div>
    <select [(ngModel)]="langSelected" class="h-full my-auto border-0 bg-transparent text-2xl hover:bg-[#0000000e] px-12 bg-slate-300" (change)="selectLang(langSelected)" name="" id="">
        <option value="en" [defaultSelected]="langSelected=='en'">EN</option>
        <option value="es" [defaultSelected]="langSelected=='es'">ES</option>
        <option value="ca" [defaultSelected]="langSelected=='ca'">CA</option>
        <option value="fr" [defaultSelected]="langSelected=='fr'">FR</option>
        <option value="pt" [defaultSelected]="langSelected=='pt'">PT</option>
    </select>
</div>